<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">Nom</th>
            <th class="text-center" scope="col">Prénom</th>
            <th class="text-center" scope="col">Numéro</th>
            <th class="text-center" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <!-- Tableau dynamique plus qu'à le faire foncitonnement
        des boutons "Modifier" et "Supprimer" et les liens vers la page de détails -->
        
        <% for(var i = 0 ; i < contacts.length ; i++) { %>
        <tr>
            <td class="text-center"><a role="button" class="btn btn-link" href="/details-contact/<%= contacts[i].id %>"><%= contacts[i].name %></a></td>
            <td class="text-center"><a role="button" class="btn btn-link" href="/details-contact/<%= contacts[i].id %>"><%= contacts[i].firstName %></a></td>
            <td class="text-center"><a role="button" class="btn btn-link" href="/details-contact/<%= contacts[i].id %>"><%= contacts[i].number %></a></td>
            <td class="text-right" >
                <div class="btn-group">
                    <a class="btn btn-primary" role="button" href="/edit-contact/<%= contacts[i].id %>">Modifier
                         <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger" role="button" href="/delete-contact/<%= contacts[i].id %>">Supprimer
                        <span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>